.article-footer-copyright
    p
        | 本文由
        b=theme.copyright.author
        |  发表于
        a(href=url_for(theme.copyright.site), 'target=_blank') 个人博客
        | ，采用
        a(href='https://creativecommons.org/licenses/by-sa/3.0/cn/', target='_blank') 署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议。
    p
        | 非商业转载请注明作者及出处。商业转载请联系
        a(href="mailto:" + theme.copyright.email) 作者本人
    p
        | 本文标题为：
        =page.title
    p
        | 本文链接为：
        =url_for(theme.copyright.site)+"/"+page.path

