- var lang = page.lang || 'zh-CN'

.article-footer-copyright
  if lang === 'zh-CN'
    p
      | 本文由
      b= theme.copyright.author
      |  发表于
      a(href=url_for(theme.copyright.site), 'target=_blank') 个人博客
      | ，采用
      a(href='https://creativecommons.org/licenses/by-sa/3.0/cn/', target='_blank') 署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议。
    p
      | 本文章已自动同步在<b style='color:red'>个人公众号</b>，欢迎去 
      a(href=url_for(theme.copyright.site)+'/aboutme.html', target='_blank') 个人主页 
      |  扫码关注
    p
      | 非商业转载请注明作者及出处。商业转载请联系
      a(href="mailto:" + theme.copyright.email) 作者本人
    p
      | 本文链接为：
      a(href=url_for(theme.copyright.site)+"/"+page.path target="_blank")= page.title
  else
    p 
      | Written in Chinese, LLM translated into English
    p
      | Non-commercial reproduction is allowed with proper attribution to the author and source. 
    p
      | For commercial reproduction, please contact the 
      a(href="mailto:" + theme.copyright.email) author