#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/selfboot/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/selfboot')  SelfBoot.

  p
    span#busuanzi_container_site_pv
    = __('totalVisits') + ' '
    span#busuanzi_value_site_pv
    = ' ' + __('times') + '，'
    span#busuanzi_container_site_uv
    = __('uniqueVisitors') + ' '
    span#busuanzi_value_site_uv
    = ' ' + __('people')
