#footer= '© '
  script(async='', src='https:////busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js')
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441')  tufu9441.

  p
    |  Hosted by
    a(rel='nofollow', target='_blank', href='https://pages.github.com/' style="font-weight: bold") Github  Coding Pages

  p
    span#busuanzi_container_site_pv
    | 本站总访问量
    span#busuanzi_value_site_pv
    | 次，
    span#busuanzi_container_site_uv
    | 本站访客数
    span#busuanzi_value_site_uv
    | 人次
