-
  function localizedUrl(url) {
    if (page.lang === 'en' && !url.startsWith('/en')) {
      return '/en' + (url.startsWith('/') ? url : '/' + url);
    }
    return url;
  }

mixin a_with_current(href, content, id)
  - var url = localizedUrl(url_for(href))
  if (href == '.' && (is_home() || is_post())) || is_current(href)
    a.current(href=url)
      i(class='fa ' + id)
      span= ' ' + content
  else
    a(href=url)
      i(class='fa ' + id)
      span= ' ' + content

mixin title(page)
  if page
    if page.title
      = page.title
    else
      = _p('no-title')